body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2d2d2d;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}


button a {
  color: white;
}
a {
  color: #e7bd57;
  text-decoration: none;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.4rem;
}

table { 
  width: 100%; 
  border-collapse: collapse; 
  border: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #626262; 
}
tr:nth-of-type(even) { 
  background: #555; 
}
th { 
  background: #6e9ee5; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  position: relative;
  padding: 6px; 
  border: none; 
  text-align: left; 
}

/* Transitions */
/* .fade-enter {
  opacity: 0;
  transform: scale(0.9);
}
.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
} */

.fade-enter {
  opacity: 0;
  z-index: 10;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
